.gallery__head > h1, h2, .gallery__head--text {
    margin: 2em auto 2em auto;
    width: 200px;
    text-align: center;
}
h2 {
    max-width: 150px;
}

.img > img {
    display: block;
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1em;
    border: hidden;
    border-radius: 5px;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    width: 85%;
    margin: auto;
}
@media only screen and (max-width: 760px) {
    img {
        max-width: 140px;
        max-height: 100px;
    }
    
}