:root {
    font-family: 'Inter', sans-serif;
    --header-footer-grey: #D9D9D9;
    --lightgray-color: #F2F2F2;
    --lightblue-color: rgb(241, 249, 252);
    --blue-color: rgb(45, 66, 117);
    --darkblue-color: rgb(22, 33, 60);
    --odkaz-fialova: #7400E8;
}
/*burger menu---------------------------------------------------------------*/
header {
    margin-bottom: 0em ;
        background-color: var(--header-footer-grey);
}
.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin: 0px 16px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.75em;
    text-decoration: none;
    justify-content: center;
}

.hamburger-menu::after {
    content: url(../img/burger.svg);
    z-index: 1;
}


.navbar__menu {
    position: absolute;
    width: 100vw;
    top: 60px;
    left: -16px;
    text-align: center;
    background-color: var(--header-footer-grey);
    transform-origin: top;
    transform: scaleY(1);
    transition: .1s;
}

*, *:visited {
    color: var(--darkblue-color);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.header__upper-section {
    padding: 1rem 0;
    margin: 0 16px 8px 16px;
    display: flex;
    justify-content: space-between;
}
.header__contacts {
    display: flex;
    gap: 1rem;
}
.navbar__menu--hidden {
    transform: scaleY(0);
}
.nav__item {
    font-weight: 700;
    margin-bottom: .5rem;
}
.navbar__hamburger {
    display: flex;
    align-content: center;
}

/* footer */
footer {
    background-color: var(--header-footer-grey);
    margin-top: 5em;
}
footer > div {
    width: 80%;
    margin: auto;
}
.footer__logo img {
    display: block;
    margin: auto;
    width: 70%;
    max-height: 100px;
    max-width: 320px;
    object-fit: cover;
}
h3 {
    padding-bottom: 8px;
}
.footer__sides > div {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    padding-bottom: 8px;
    font-weight: bolder;
}
.footer__social > div {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    padding-bottom: 8px;
    font-weight: bolder;
}
.footer__linka {
    width: 100%;
    height: 2px;
    border-top: 1px solid black;
}
footer a {
    color: var(--odkaz-fialova);
    padding: 2px;
}
.footer__podcarou p {
    font-size: 10px;
    text-align: right;
}